<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>掌上乡镇</title>
		<link rel="stylesheet" href="public/xz/css/reset.css">
		<link rel="stylesheet" href="public/xz/css/town.css">
		<link rel="stylesheet" href="public/xz/css/font-awesome.css">
		<style type="text/css">
			header{
				position: fixed;
				top: 0;
				background: none;
				z-index: 99;
			}
			header .navbar>ul li a{
				color: #2f2f2f;
			}
			header .navbar>div .username{
				color: #2F2F2F;
			}
			header .navbar>div i{
				color: #2F2F2F;
			}
			.p_down{
				border-bottom: 1px solid #ffecdf;
			}
			.p_down span{
				margin: 60px 20px;
			}
		</style>
	</head>
	<body>
		<header class="index">
			<div class="navbar">
				<a><img src="public/xz/img/indexlogo.png"></a>
				<div>
					<!--已登录-->
					<!--<img class="userlogo tolisde" src="public/xz/img/headimg.png">
					<span class="username tolisde">青山七海</span>
					<img src="public/xz/img/iconv.png" class="tolisde" style="width: 20px;margin-right: 5px;">
					<i class="fa fa-angle-down tolisde"></i>
					<i class="fa fa-envelope-o tolisde"></i>-->
					<!--未登录-->
					<span class="tologin"><a href="index.php?p=show&c=login&a=index"> 登录</a></span>

					<!--下拉菜单-->
					<div class="down_show">
						<a>我的账户</a>
						<a>我的发布</a>
						<a>栏目管理</a>
						<a>我的消息</a>
						<a>授权管理</a>
					</div>
				</div>
				<ul>
					<li><a href="javascript:;">首页</a></li>
					<li><a  href="index.php?p=show&c=index&a=xiazai">下载</a></li>
					<li><a href="index.php?p=show&c=index&a=about">关于我们</a></li>
					<li><a href="index.php?p=show&c=index&a=contact">联系我们</a></li>
					<li><a>用户协议</a></li>
				</ul>
			</div>
		</header>
		<div class="bannerbox banner-1">
			<img src="public/xz/img/banner-1.jpg">
			<img class="bannerin" src="public/xz/img/bannerin.png">
		</div>
		<div class="bannerbox banner-2">
			<div class="in_box">
				<div>
					<h3 data-scroll-reveal="wait 0.5s, then enter left and move 100px over 2s" >地方动态 随时掌握</h3>
					<p data-scroll-reveal="wait 0.5s, then enter left and move 100px over 2s" >看到邻里乡亲的衣食住行，浓浓乡情尽在咫尺</p>
					<img data-scroll-reveal="wait 0.5s, then enter left and move 100px over 2s"  src="public/xz/img/iconlist.png" />
				</div>
				<img data-scroll-reveal="wait 0.5s, then enter right and move 100px over 2s" class="b2_img b2_img1" src="public/xz/img/b2-1.jpg">
				<img data-scroll-reveal="wait 0.4s, then enter right and move 100px over 2s" class="b2_img b2_img2" src="public/xz/img/b2-2.jpg">
				<img data-scroll-reveal="wait 0.3s, then enter right and move 100px over 2s" class="b2_img b2_img3" src="public/xz/img/b2-3.jpg">
				<img data-scroll-reveal="wait 0.2s, then enter bottom and move 100px over 2s" class="per per1" src="public/xz/img/per1.png">
				<img data-scroll-reveal="wait 0.25s, then enter bottom and move 100px over 2s" class="per per2" src="public/xz/img/per2.png">
				<img data-scroll-reveal="wait 0.3s, then enter bottom and move 100px over 2s" class="per per3" src="public/xz/img/per3.png">
				<img data-scroll-reveal="wait 0.35s, then enter bottom and move 100px over 2s" class="per per4" src="public/xz/img/per4.png">
				<img data-scroll-reveal="wait 0.4s, then enter bottom and move 100px over 2s" class="per per5" src="public/xz/img/per5.png">
				<img data-scroll-reveal="wait 0.45s, then enter bottom and move 100px over 2s" class="per per6" src="public/xz/img/per6.png">
			</div>
		</div>
		<div class="bannerbox banner-3">
			<div class="b3_box">
				<img  data-scroll-reveal="wait 0.5s, then enter left and move 100px over 2s" src="public/xz/img/b3-1.png">
				<div>
					<h3 data-scroll-reveal="wait 0.5s, then enter right and move 100px over 2s">邻里乡亲 就在身边</h3>
					<p data-scroll-reveal="wait 0.5s, then enter right and move 100px over 2s">一款真正让你不想家的APP</p>
				</div>
			</div>
		</div>
		<div class="bannerbox banner-4">
			<div class="b4_box">
				<div>
					<h3 data-scroll-reveal="wait 0.5s, then enter left and move 100px over 2s">做每个乡镇自己的APP</h3>
					<p data-scroll-reveal="wait 0.5s, then enter left and move 100px over 2s">多少年不见，镇子变了，我家的亲切；</p>
					<p data-scroll-reveal="wait 0.5s, then enter left and move 100px over 2s">多少年不见，模样变了，你乡音未改；</p>
				</div>
				<img data-scroll-reveal="wait 0.5s, then enter bottom and move 100px over 2s" class="b4img b4img1" src="public/xz/img/b4-1.png">
				<img data-scroll-reveal="wait 0.4s, then enter bottom and move 100px over 2s" class="b4img b4img2" src="public/xz/img/b4-2.png">
				<img data-scroll-reveal="wait 0.4s, then enter bottom and move 100px over 2s" class="b4img b4img3" src="public/xz/img/b4-3.png">
			</div>
		</div>
		<div class="bannerbox banner-5">
			<div class="b5_box">
				<img data-scroll-reveal="wait 0.2s, then enter bottom and move 100px over 2s" class="b5img1" src="public/xz/img/b5-1.png" />
				<img data-scroll-reveal="wait 0.5s, then enter left and move 100px over 2s" class="b5img2" src="public/xz/img/b5-2.png" />
				<img data-scroll-reveal="wait 0.5s, then enter right and move 100px over 2s" class="b5img3" src="public/xz/img/b5-3.png" />
				<div>
					<h3 data-scroll-reveal="wait 0.5s, then enter right and move 100px over 2s">邻里乡亲 就在身边</h3>
					<p data-scroll-reveal="wait 0.5s, then enter right and move 100px over 2s">一款真正让你不想家的APP</p>
				</div>
			</div>
		</div>
		<div class="bannerbox banner-6">
			<div class="b6_box">
				<h3>下载掌上乡镇APP</h3>
				<div class="p_down">
					<img class="andr" src="public/xz/img/codema.jpg">
					<img class="ios" src="public/xz/img/codema.jpg">
					<p>扫一扫下载</p>
					<span class="chooseon"><i class="fa fa-apple"></i>iPhone版</span>
					<span><i class="fa fa-android"></i>Android版</span>
				</div>
				<div class="b6_bottom">
					<p>
						掌上乡镇APP版权所有 2018-2019
						<span>
							<a href="/">首页</a>
							<a href="/?&a=xiazai">下载</a>
							<a href="/?&a=about">关于我们</a>
							<a href="/?&a=contact">联系我们</a>
							<a href="/?&c=login&a=index">登录</a>
						</span>
					</p>
				</div>
			</div>
		</div>
	</body>
	<script src="public/xz/js/jquery-1.11.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="public/xz/js/scrollReveal.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="public/xz/js/town.js" type="text/javascript" charset="utf-8"></script>
	
		<script type="text/javascript">
			window.scrollReveal = new scrollReveal();
			$('.p_down span').click(function(){
				$('.p_down span').removeClass('chooseon');
				$(this).addClass('chooseon');
				if ($(this).index()==3) {
					$('.andr').hide();
					$('.ios').show();
				}else{
					$('.andr').show();
					$('.ios').hide();
				}
			})
			window.onscroll = function(){ 
			     var t = document.documentElement.scrollTop || document.body.scrollTop;  //获取距离页面顶部的距离
			     if( t >= 80 ) { //当距离顶部超过80px时
			     	$('header').css({'background':'white','box-shadow':'0px 0px 10px'});
			     } else {
			     	$('header').css({'background':'none','box-shadow':'none'});
			     }
			} 
			
		</script>
</html>
