<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>关于我们</title>
		<link rel="stylesheet" href="public/xz/css/reset.css">
		<link rel="stylesheet" href="public/xz/css/town.css">
		<link rel="stylesheet" href="public/xz/css/font-awesome.css">
	</head>
	<body>
		<!--头部开始-->
		<?php include CUR_VIEW_PATH."Spublic/header.html";?>
		<!--end-->
		<!--内容开始-->
		<section>
			<p class="p_title">关于我们</h3>
			<div class="edi">
				<p>
					成都思乐科技有限公司诞生于2010年，公司聚集了多名从事界面设计和交互设计的专业设计师,团队成员均有5年以上的项目经验,能够把握国际主流设计风格与创新理念。我们为客户提供专业的网站设计、程序、域名、空间一条龙服务，提供基于WEB的系统开发. 服务项目涵盖了网页设计、网站程序开发、主流域名注册、国内外空间申请、WEB系统开发、微信二次开发、手机网站开发等网站方面业务。
				</p>
				<p>
					成都网站建设公司思乐科技至今已服务客户：峨眉电影、嘉好集团、鑫佰丽集团、煌歌集团、兴合集团、蓝海景观、致高守民律师事务所、潭酒、九寨人才、元通、西南民大、嘉祥集团、安泰安容大酒店、远鸿集团及大量创业公司等。成都思乐科技有限公司诞生于2010年，公司聚集了多名从事界面设计和交互设计的专业设计师,团队成员均有5年以上的项目经验,能够把握国际主流设计风格与创新理念。我们为客户提供专业的网站设计、程序、域名、空间一条龙服务，提供基于WEB的系统开发. 服务项目涵盖了网页设计、网站程序开发、主流域名注册、国内外空间申请、WEB系统开发、微信二次开发、手机网站开发等网站方面业务。
				</p>
				<p>
					成都网站建设公司思乐科技至今已服务客户：峨眉电影、嘉好集团、鑫佰丽集团、煌歌集团、兴合集团、蓝海景观、致高守民律师事务所、潭酒、九寨人才、元通、西南民大、嘉祥集团、安泰安容大酒店、远鸿集团及大量创业公司等。
				</p>
			</div>
		</section>
		<!--end-->
		<!--底部开始-->
		<footer>
			 <a>服务协议</a>   |   <a>联系我们</a>   | &nbsp;  Copyright © 2015-2018 eBeryl. All Rights Reserved.   |   蜀ICP备15008968号-2
		</footer>
		<!--end-->
		<script src="public/xz/js/jquery-1.11.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="public/xz/js/town.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
