<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>掌上乡镇-登录</title>
		<link rel="stylesheet" href="public/xz/css/reset.css">
		<link rel="stylesheet" href="public/xz/css/town.css">
		<link rel="stylesheet" href="public/xz/css/font-awesome.css">
		<style type="text/css">
			.fa-square-o{
				margin: 0 5px;
			}
		</style>
	</head>
	<body>
		<div class="login_box">
			<div>
				<img src="public/xz/img/loginlogo.png" />
				<form method="post" action="index.php?p=show&c=login&a=login">
				<div class="temp_in">
					<i class="fa fa-user-o"></i><input placeholder="请输入您的账号" name="yonghuming">
				</div>
				<div class="temp_in">
					<i class="fa fa-key"></i><input type="password" placeholder="请输入密码" name="mima">
				</div>
				<div class="login_caozuo">
					<!--<i class="fa fa-square-o"></i>记住密码-->
					<!--<span>-->
						<!--还没有账号，去<a>注册</a>-->
					<!--</span>-->
				</div>
				<button type="submit">登录</button>
				</form>
			</div>
		</div>
		<div class="bottom_banquan">
				<p>版权所有 © 四川  有限公司  未经许可不得复制、转载、违者必究！</p>
				<p>Copyright © tognchengzixun,ltd All Rights Reserved</p>
			</div>
	</body>
</html>
